.login {
  align-items: center;
  background: var(--second-color);
  display: none;
  height: 100%;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  z-index: 100;
  top: 0;
}

.login_image img {
  width: 750px;
}

.login_form_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.login_title {
  color: var(--text-color);
}

#login_form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#login_form label {
  color: var(--base-color);
  font-weight: 550;
  padding: 0.5rem;
}

#login_form input {
  background: var(--base-color);
  border: none;
  border-radius: 20px;
  color: var(--text-color);
  margin-bottom: 0.5rem;
  outline: none;
  padding: 1rem;
  width: 100%;
}

#login_form .btn_logar {
  background: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: all 0.3s;
}

#login_form .btn_logar:hover {
  background: var(--base-color);
}

.close_login {
  background: var(--second-color);
  border: none;
  color: var(--base-color);
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 20px;
  top: 10px;
  transition: all 0.3s;
}

.close_login:hover {
  color: var(--primary-color);
}

.close_login span {
  font-size: 3rem;
}

.login_info_cadastrar {
  color: var(--text-color);
  margin-top: 0.5rem;
  padding: 0 0.5rem;
}

.login_info_cadastrar a {
  color: var(--text-color);
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
}

.login_info_cadastrar a:hover {
  color: var(--base-color);
}
